@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 400px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 98%);
}

.auth-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}